<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="RestassuredTests" verbose="1" parallel="false">
    <test name="tests">
        <classes>
            <class name="tests.DriversTest"/>
            <class name="tests.MoreBookStoreTests"/>
            <class name="tests.MorePetStoreTests"/>
            <class name="tests.RestfulBookerTest"/>
            <class name="tests.UploadTest"/>
            <class name="tests.EscuelaJSTest"/>
            <class name="tests.BookerAuthTest"/>
            <class name="tests.BookStorePOJOTest"/>
        </classes>
    </test>
</suite>